
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Git test 7000</title>
</head>
<body>
    <div> 
        Iniciando git proyect desde 0.

    </div>
</body>
</html>
